<div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= book.title %>">
</div>
<div>
    <label for="author">Author</label>
    <select name="author" id="author">
    <% authors.forEach(author => { %>
        <% if (author.id === book.author) {%> 
        <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } %> 
        <option label="<%= author.name %>" value="<%= author.id %>"></option>
    <% }); %>
    </select>
</div>
<div>
    <label for="pubDate">Publish date</label>
    <input type="date" name="publishDate"
    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label for="pageCount">Page Count</label>
    <input type="number" name="pageCount" id="pageCount" min="1" value="<%= book.pageCount %>">
</div>
<div>
    <label for="imageCover">Image Cover</label>
    <input type="file" class="filepond" name="cover" id="cover" />
</div>
<div>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"><%= book.description %></textarea>
</div>
